<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <form>
        <h1>Formulario de Eventos</h1>
        <label for="nombre-evento">Nombre del Evento:</label>
        <input type="text" id="nombre-evento" name="nombre-evento">
      
        <label for="fecha-evento">Fecha del Evento:</label>
        <input type="date" id="fecha-evento" name="fecha-evento">
      
        <label for="ubicacion-evento">Ubicación del Evento:</label>
        <input type="text" id="ubicacion-evento" name="ubicacion-evento">
      
        <label for="descripcion-evento">Descripción del Evento:</label>
        <textarea id="descripcion-evento" name="descripcion-evento"></textarea>
      
       
      </form>

</body>
</html>
  